body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

.section-users, .row, .col-1-of-4 {
  margin: auto;
}

.section-users {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(82, 200, 255, 0.95), rgba(73, 168, 212, 0.9)), url(../../../assets/images/gift.jpg);
  background-size: cover;
  //transform: skewY(-7deg);
  margin-top: -5rem;
  height: 93vh;
}

  .section-users > * {
    //transform: skewY(7deg);
  }

@media only screen and (max-width: 56.25em) {
  .section-users {
    padding: 10rem 0;
  }
}

.user-box {
  height: 15em;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  margin: 2rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}

@media only screen and (max-width: 56.25em) {
  .user-box {
    padding: 2rem;
  }
}

.user-box__icon {
  height: 8rem;
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 56.25em) {
  .user-box__icon {
    margin-bottom: 0;
    height: 2rem;
  }
}

.user-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

/*.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to bottom, #fff, #c5f8f5);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  
}*/

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

h2 {
  top: 2rem;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  transition: all .2s;
}
