<section class="section-book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <form action="#" class="form" #f="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Add New Giftee
            </h2>
          </div>

          <div class="form__group">
            <label for="user" class="form__label">User</label>
            <select id="user" class="form-control" (change)="onUserChange()" [(ngModel)]="user" name="user" required #selectedUser="ngModel">
              <option value=""></option>
              <option *ngFor="let user of users" value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="selectedUser.touched && !selectedUser.valid" name="selectedUserAlert">Please select a user.</div>
          </div>

          <div class="form__group">
            <input id="firstName" type="text" value="" class="form__input" [(ngModel)]="giftee.firstName" name="firstName" #firstName="ngModel" placeholder="First name" required />
            <label for="name" class="form__label">First name</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <input id="lastName" type="text" value="" class="form__input" [(ngModel)]="giftee.lastName" name="lastName" #lastName="ngModel" placeholder="Last name" required />
            <label for="name" class="form__label">Last name</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <input id="gifteeEmail" type="text" value="" class="form__input" [(ngModel)]="giftee.email" name="gifteeEmail" required #gifteeEmail="ngModel" placeholder="Email" />
            <label for="email" class="form__label">Email address</label>
            <!--<div class="alert alert-danger" *ngIf="gifteeEmail.touched && !gifteeEmail.valid" name="gifteeEmailAlert">Please enter an email.</div>-->
          </div>

          <div class="form__group">
            <input id="nicknamme" type="text" value="" class="form__input" [(ngModel)]="giftee.nickName" name="nickName" placeholder="Nickname" />
            <label for="name" class="form__label">Nickname</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <button class="btn btn--green btn--animated">Save</button>
            <button *ngIf="giftee.id" class="btn btn--red" type="button" (click)="deleteGiftee()">Delete</button>
          </div>

        </form>
      </div>
      <p>
        {{ giftee | json }}
      </p>
    </div>
  </div>
</section>
