<section class="section-gifteeForm">
  <div class="row">
    <div class="gifteeForm">
      <div class="gifteeForm__form">
        <form action="#" class="form" #f="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Add New Giftee
            </h2>
          </div>

          <div class="form__group">
            <select id="user" class="form--select" (change)="onUserChange()" [(ngModel)]="user" name="user" #selectedUser="ngModel" required>
              <option value="" class="form--option"></option>
              <option *ngFor="let user of users" value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <!--<label for="user" class="form__label__select">User</label>-->
            <!--<div class="alert alert-danger" *ngIf="selectedUser.touched && !selectedUser.valid" name="selectedUserAlert">Please select a user.</div>-->
          </div>

          <div class="form__group__list">
            <ul class="giftee__group">
              <li *ngFor="let giftee of giftees" class="giftee__item">
                Name: <strong>{{ giftee.firstName }} {{ giftee.lastName }}</strong>
                Nickname: <strong>{{ giftee.nickName }}</strong>
                Email: <strong>{{ giftee.email }}</strong>
                Id: <strong>{{ giftee.id }}</strong>
                <a class="btn-text btn--blue" aria-hidden="true" href="/giftees/{{ giftee.id }}">Edit</a>
              </li>
            </ul>
          </div>
       

          <div class="form__group">
            <input id="firstName" type="text" value="" class="form__input" [(ngModel)]="giftee.firstName" name="firstName" #firstName="ngModel" placeholder="First name" required />
            <label for="name" class="form__label">First name</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <input id="lastName" type="text" value="" class="form__input" [(ngModel)]="giftee.lastName" name="lastName" #lastName="ngModel" placeholder="Last name" required />
            <label for="name" class="form__label">Last name</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <input id="gifteeEmail" type="text" value="" class="form__input" [(ngModel)]="giftee.email" name="gifteeEmail" required #gifteeEmail="ngModel" placeholder="Email" />
            <label for="email" class="form__label">Email address</label>
            <!--<div class="alert alert-danger" *ngIf="gifteeEmail.touched && !gifteeEmail.valid" name="gifteeEmailAlert">Please enter an email.</div>-->
          </div>

          <div class="form__group">
            <input id="nicknamme" type="text" value="" class="form__input" [(ngModel)]="giftee.nickName" name="nickName" placeholder="Nickname" />
            <label for="name" class="form__label">Nickname</label>
            <!--<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>-->
          </div>

          <div class="form__group">
            <button class="btn btn--green btn--animated">Save</button>
            <button *ngIf="giftee.id" class="btn btn--white btn--animated" (click)="deleteGiftee()">Delete</button>
          </div>

        </form>
      </div>
      <p class="jsonView">
        {{ giftee | json }}
      </p>
    </div>
  </div>
</section>
